.list-container {
  display: flex;
  /* width: 100%; */
}

.btn-list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: none;
  gap: 24px;
  text-align: center;
  background-color: #f8f9fa;
}

.btn-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 5px;
  width: 85px;
  height: 80px;
  padding: 2px;
  text-decoration: none;
  color: rgb(102, 102, 102);
  background-color: white;
  border-radius: 0.5rem;
  font-size: 14px;
}

.btn-list-item:hover{
  color: orange;
}
.list-wrap {
  margin-top: 20px;
  padding-right: 20px;
  background-color: white;
  height: 90vh;
}

h6 {
  padding-left: 20px;
  padding-top: 15px;
  color: orange;
}
.list-wrap-container-task {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
  margin-left: 20px;
}
.list-select-items {
  margin-top: 20px;
  width: 180px;
  height: 40px;
  border: none;
  border-radius: 0.4rem;
  padding: 0px 10px;
  background-color: rgb(241, 239, 239);
  color: rgb(102, 102, 102);
}

form {
  margin-top: 20px;
  border: none;
}

.list-input {
  width: 185px;
  height: 40px;
  padding-left: 10px;
  background-color: rgb(241, 239, 239);
  border-radius: 0.4rem 0rem 0rem 0.4rem;
  border: none;
}

.list-input-suffix {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 0rem 0.4rem 0.4rem 0rem;
  background-color: rgb(241, 239, 239);
  color: rgb(102, 102, 102);
}

.btn-list-icon,
.btn-list-name,
.list-select-items,
.list-add-btn,
.list-input-suffix:hover {
  cursor: pointer;
}

.list-add-btn {
  margin-top: 20px;
  width: 140px;
  height: 40px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  border-radius: 0.4rem;
  color: orange;
  background-color: rgba(250, 240, 222, 0.913);
}

/* Assign */
.list-wrap-container-assign {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-between;
  gap: 20px;
  margin-left: 20px;
}

.list-input-date {
  width: 180px;
  height: 40px;
  padding: 0px 10px;
  border: none;
  border-radius: 0.4rem;
  background-color: rgb(241, 239, 239);
  color: rgb(102, 102, 102);
}
