/* .container {
  filter: drop-shadow(0 0px 1px rgb(0 0 0 / 0.1))
    drop-shadow(0 1px rgb(0 0 0 / 0.06));
  display: flex;
  flex-direction: column;
} */

.sidebar{
  height: 100vh;
  background-color: white;
}

.icon {
  margin-top: 10px;
  padding-bottom: 10px;
}

.icon-link {
  display: flex;
  gap: 1rem;
  color: rgb(102, 102, 102);
  background-color: white;
}

.icon-link:hover {
  color: orange;
  background-color: rgba(251, 226, 180, 0.782);
}

.item-name {
  margin-top: 12px;
  font-size: 14px;
  text-underline-offset: none;
}
