.sidebar-content {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.main-content {
  background-color: rgba(248, 247, 247, 0.735);
  margin: 65px 85px 0px 65px;
  padding-bottom: 40px;
}

@media all and (max-width: 780px) {
  .main-content {
    max-width: 100vw;
  }
}
